{% extends 'photo_app/base.html' %}

{% block main_content %}
    <main class="edit-profile">
        <section class="profile-form">
            <header class="profile-form__header">
                <div class="profile-form__avatar-container">
                    <img 
                        src="{{user.profile_pic_url}}"
                        class="profile-form__avatar"
                    />
                </div>
                <h4 class="profile-form__title">Edit your profile</h4>
            </header>
            <form method="POST" class="edit-profile__form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="edit-profile__form-row">
                    <label for="name" class="edit-profile__label">Name
                    </label>
                    {{form.display_name}}
                </div>
                <div class="edit-profile__form-row">
                    <label for="username" class="edit-profile__label">
                        Username
                    </label>
                    {{form.username}}
                </div>
                <div class="edit-profile__form-row">
                    <label for="website" class="edit-profile__label">
                        Website
                    </label>
                    {{form.website}}
                </div>
                <div class="edit-profile__form-row">
                    <label for="bio" class="edit-profile__label">
                        Bio
                    </label>
                    {{form.bio}}
                </div>
                <div class="edit-profile__form-row">
                    <label for="email" class="edit-profile__label">
                        Email
                    </label>
                    {{form.email}}
                </div>
                <div class="edit-profile__form-row">
                    <label for="phone-number" class="edit-profile__label">
                        Profile Picture
                    </label>
                    {{form.profile_pic}}
                </div>
                <!-- <div class="edit-profile__form-row">
                    <label for="gender" class="edit-profile__label">Gender</label>
                    <select id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="whatever">Whatever</option>
                    </select>
                </div>
                 -->
                <div class="edit-profile__form-row">
                    <label class="edit-profile__label"></label>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </section>
    </main>
{% endblock %}