{%extends 'user_app/base.html'%}
{%load static%}

{%block main_content%}
    <main class="login">
        <div class="login__column">
            <img 
                src="{%static 'images/phone.png'%}"
                alt="Phone Image"
                title="Phone Image"
                class="login__phone-image"
            />                
        </div>
        <section class="login__column">
            <div class="login__section login__sign-in">
                <img 
                    src="{%static 'images/logo.png'%}"
                    alt="Logo"
                    title="Logo"
                    class="login__logo"
                />
                <!-- x   -->
                <form id="register-form" method="POST" class="login__form">
                    {%csrf_token%}
                    <div class="login__input-container">
                       {{ form.display_name }}
                    </div>
                    <div id="display-name-error" class="custom-error">
                        {{form.display_name.errors}}
                    </div>
                    <div class="login__input-container">
                        {{form.email}}
                    </div>
                    <div id="display-name-error" class="custom-error">
                        {{form.email.errors}}
                    </div>
                    <div class="login__input-container">
                        {{form.username}}
                    </div>
                    <div id="display-name-error" class="custom-error">
                        {{form.username.errors}}
                    </div>
                    <div class="login__input-container">
                        {{form.password}}
                    </div>
                    <div id="display-name-error" class="custom-error">
                        {{form.password.errors}}
                    </div>
                    
                    <!-- <div class="login__input-container">
                        <input 
                            type="password"
                            name="password2"
                            placeholder="Confirm Password"
                            required
                            class="login__input"
                            id="password2" 
                        />
                    </div>
                    <div id="display-name-error" class="custom-error">
                        {{form.display_name.errors}}
                    </div> -->
                    
                    </div>
                    <div class="login__input-container">
                        <input
                            type="submit"
                            value="Register"
                            class="login__input login__input--btn"
                        />
                    </div>
                </form>
            
            </div>
            <div class="login__section login__sign-up">
                <span class="login__text">
                    Already have an account? 
                    <a href="{% url 'login' %}" class="login__link">
                        Log in
                    </a>
                </span>
            </div>
            <div class="login__section login__section--transparent login__app">
                <span class="login__text">
                    Get the app.
                </span>
                <div class="login__appstores">
                    <img 
                        src="{%static 'images/ios.png'%}"
                        alt="iOS"
                        title="Get the app!"
                        class="login__appstore" 
                    />
                    <img 
                        src="{%static 'images/android.png'%}"
                        alt="Android"
                        title="Get the app!"
                        class="login__appstore" 
                    />
                </div>
            </div>
        </section>
    </main>
{%endblock%}

{% block javascript %}
<script>

    $(document).ready(function(){
        $('#register-form').on('submit', function(){
            console.log('do something with this code')
        })
    })
</script>
{% endblock %}