<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feed | Tasbir</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
        <link href="{%static 'css/style.css'%}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head> 
    <body>
        <nav class="navigation">
            <a href="{% url 'index' %}">
                <img 
                    src='{%static "images/navLogo.png" %}'
                    alt="logo"
                    title="logo"
                    class="navigation__logo"
                />
            </a>
            <div class="navigation__search-container">
                <i class="fa fa-search"></i>
                <form action="{% url 'search' %}" method="GET">
                    <input id="search-bar" type="text" placeholder="Search" value="" name="q">
                </form>
            </div>
            <div class="navigation__icons">
                <a href="{% url 'add-photo' %}" class="navigation__link">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="{% url 'explore' %}" class="navigation__link">
                    <i class="fa fa-compass"></i>
                </a>
                <!-- <a href="#" class="navigation__link">
                    <i class="fa fa-heart-o"></i>
                </a> -->
                <a href="{%url 'profile' request.session.username %}" class="navigation__link">
                    <i class="fa fa-user-o"></i>
                </a>
            </div>
        </nav>

        {%block main_content%}
            WRITE YOUR MAIN BLOCK HERE
        {%endblock%}

        <footer class="footer">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">about us</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">support</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">blog</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">press</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">api</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">jobs</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">privacy</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">terms</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">directory</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">language</a></li>
                </ul>
            </nav>
            <span class="footer__copyright">© 2020 Tasbir</span>
        </footer>

        {%block post_footer%}

        {%endblock%}

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script src="{%static 'js/app.js'%}"></script>

        {% block javascript %}
        {%endblock%}

        <script>
            searchbar = $('#search-bar')

            searchbar.keyup(function(e){
                if(e.keyCode == 13){
                    query = searchbar.val()
                    url = ""
                    console.log(url)
                }
            })

        </script>
    </body>
</html>