{%extends 'photo_app/base.html'%}
{%load static%}
{%block main_content%}
    <main class="feed">

        {%for post in posts%}
            <section class="photo">
                <header class="photo__header">
                    <div class="photo__header-column">
                        <img
                            class="photo__avatar"
                            src="{%static 'images/avatar.jpg' %}"
                        />
                    </div>
                    <div class="photo__header-column">
                        <span class="photo__username">{{post.uploaded_by.username}}</span>
                        <span class="photo__location">{{post.location}}</span>
                    </div>
                </header>
                <div class="photo__file-container">
                    <img
                        class="photo__file"
                        src="{{post.photo.url}}"
                    />
                </div>
                <div class="photo__info">
                    <div class="photo__icons">
                        <span class="photo__icon">
                            <i class="fa fa-heart-o heart fa-lg"></i>
                        </span>
                        <span class="photo__icon">
                            <i class="fa fa-comment-o fa-lg"></i>
                        </span>
                    </div>
                    <span class="photo__likes">{{post.likes}} likes</span>
                    <ul class="photo__comments">
                        <li class="photo__comment">
                            <span class="photo__comment-author">{{post.uploaded_by.username}}</span>When your shades match the color of your sweater.
                        </li>
                        <li class="photo__comment">
                            <span class="photo__comment-author">jonsnow</span>I know nothing!
                        </li>
                    </ul>
                    <span class="photo__time-ago">{{photo.timestamp}}</span>
                    <div class="photo__add-comment-container">
                        <textarea placeholder="Add a comment..." class="photo__add-comment"></textarea>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
            </section>
        {%endfor%}

    </main>
{%endblock%}