{%extends 'photo_app/base.html'%}
{%load static%}
{%block main_content%}
    <main class="feed">
        {% if posts %}
        {%for post in posts%}
            <section class="photo">
                <header class="photo__header">
                    <div class="photo__header-column">
                        <a href="{% url 'profile' post.uploaded_by.username %}">
                            <img
                                class="photo__avatar"
                                src="{{post.uploaded_by.profile_pic_url}}"
                            />
                        </a>
                    </div>
                    <div class="photo__header-column">
                        <a href="{% url 'profile' post.uploaded_by.username %}"><span class="photo__username">{{post.uploaded_by.username}}</span></a>
                        <span class="photo__location">{{post.location}}</span>
                    </div>
                </header>
                <div class="photo__file-container">
                    <img
                        data-photo-id="{{post.id}}"
                        class="photo__file"
                        src="{{post.photo.url}}"
                    />
                </div>
                <div class="photo__info">
                    <div class="photo__icons">
                        <span class="photo__icon" >
                            <i 
                                data-photo-id="{{post.id}}"
                                {% if user not in post.liked_by.all %}
                                    class="fa fa-heart-o heart fa-lg"
                                {% else %}
                                    class="fa heart-red fa-heart heart fa-lg"
                                {% endif %}
                                
                            ></i>
                        </span>
                        <span class="photo__icon">
                            <i class="fa fa-comment-o fa-lg"></i>
                        </span>
                    </div>
                    
                    <span data-likes="{{post.liked_by.all|length}}" class="photo__likes" data-photo-id="{{post.id}}">
                        {{post.liked_by.all|length}} likes
                    </span>
                    
                    <ul data-user-profile-link="{% url 'profile' user.username%}" data-username="{{user.username}}" data-photo-id="{{post.id}}" class="photo__comments">
                        {% for comment in post.photo_comments.all|slice:":5" %}
                        <li class="photo__comment">
                            <span class="photo__comment-author"><a href="{% url 'profile' comment.commented_by.username %}">{{comment.commented_by.username}}</a></span>
                            {{comment.text}}
                        </li>
                        {% endfor %}
                        {% if post.photo_comments.all|length > 5 %}
                            <a href="{% url 'detail' post.id %}">
                                <li class="photo__comment">
                                    View More Comments
                                </li>
                            </a>
                        {% endif %}
                    </ul>
                    <span class="photo__time-ago">{{photo.timestamp}}</span>
                    <div class="photo__add-comment-container">
                        <textarea data-photo-id="{{post.id}}" placeholder="Add a comment..." class="photo__add-comment"></textarea>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
            </section>
        {%endfor%}
        
        {%else %}
            <h1 style="font-size:larger; font-weight:bold; text-align:center">Follow other users to see their posts in your feed.</h1>
            <br>
            <h1 style="text-align:center">Discover the accounts to follow <a href="{%url 'explore' %}">here</a></h1>
        {%endif%}

    </main>
{%endblock%}

{%block javascript %}
<script>
    $(document).ready(function(){
        var heart = $('.heart');
        var photo = $('.photo__file');

        function likeordislike(postid){
            $.ajax({
                type: "POST",
                url: "{% url 'ajax.likephoto' %}",
                data: {
                    'postid': postid
                },
                success: function(response){
                    likestr = $(`span[data-photo-id='${postid}']`).attr('data-likes');
                    likes = parseInt(likestr);
                    liketext = $(`span[data-photo-id='${postid}']`);
                    switch(response.action){
                        case 'liked':
                            likes = likes + 1
                            liketext.attr('data-likes', likes)
                            liketext.text(likes.toString() + ' likes')
                            break;
                        case 'disliked':
                            likes = likes - 1
                            liketext.attr('data-likes', likes)
                            liketext.text(likes.toString() + ' likes')
                            break;
                    }
                    hearticon = $(`i[data-photo-id='${postid}']`)
                    hearticon.toggleClass('fa-heart-o');
                    hearticon.toggleClass('heart-red fa-heart');
                },
                error: function(response){
                    console.log(response)
                }
            })
            
        }

        heart.click(function(){
            var postid = $(this).attr('data-photo-id')
            likeordislike(postid);
        })

        photo.dblclick(function(){
            var postid = $(this).attr('data-photo-id')
            likeordislike(postid)
        })

        $('textarea').keyup(function(e){
            if(e.keyCode == 13){
                var postid = $(this).attr('data-photo-id')
                var text = $(this).val()
                console.log(postid)
                console.log(text)
                $(this).val('')

                $.ajax({
                    type: 'POST',
                    url: "{% url 'ajax.comment' %}",
                    data: {
                        postid: postid,
                        text: text
                    },
                    success : function(response){
                        list = $(`ul[data-photo-id=${postid}]`)
                        username = list.attr('data-username')
                        link = list.attr('data-user-profile-link')
                        list.append(`<li class="photo__comment"> <span class="photo__comment-author"><a href="${link}">${username}</a></span>${text}</li>`)
                        console.log(response)
                    },
                    error: function(response){
                        console.log(response)
                    }
                })
            }
        })
    })
</script>
{%endblock%}