{%extends 'photo_app/base.html'%}

{%block main_content%}

    <main class="profile-container">
        <section class="profile">
            <header class="profile__header">
                <div class="profile__avatar-container">
                    <img 
                        src="{{user.profile_pic.url}}"
                        class="profile__avatar"
                    />
                </div>
                <div class="profile__info">
                    <div class="profile__name">
                        <h1 class="profile__title">{{user.username}}</h1>
                        <a href="edit-profile.html" class="profile__button u-fat-text">Edit profile</a>
                        <i class="fa fa-cog fa-2x" id="cog"></i>
                    </div>
                    <ul class="profile__numbers">
                        <li class="profile__posts">
                            <span class="profile__number u-fat-text">{{posts|length}}</span> posts
                        </li>
                        <li class="profile__followers">
                            <span class="profile__number u-fat-text">40</span> followers
                        </li>
                        <li class="profile__following">
                            <span class="profile__number u-fat-text">134</span> following
                        </li>
                    </ul>
                    <div class="profile__bio">
                        <span class="profile__full-name u-fat-text">{{user.display_name}}</span>
                        <p class="profile__full-bio">{{user.bio}}</p>
                        <a href="{{user.website}}" class="profile__link u-fat-text">{{user.website}}</a>
                    </div>
                </div>
            </header>

            {%if posts|length == 0%}
                <h1 style="font-size:larger; font-weight:bold; text-align:center">You have not uploaded any photos</h1>
                <br>
                <h1 style="text-align:center">Post your first photo from <a href="{%url 'index'%}">here</a></h1>
            {%endif%}

            <div class="profile__pictures">

                {%for post in posts%}
                    <a href="image-detail.html" class="profile-picture">
                        <img
                            src="{{post.photo.url}}"
                            class="profile-picture__picture"
                        />
                        <div class="profile-picture__overlay">
                            <span class="profile-picture__number">
                                <i class="fa fa-heart"></i> {{post.likes}}
                            </span>
                            <span class="profile-picture__number">
                                <i class="fa fa-comment"></i> 39
                            </span>
                        </div>
                    </a>
                {%endfor%}
                
            </div>
        </section>
    </main>
{%endblock%}

{%block post_footer%}
    <div class="popUp">
        <i class="fa fa-times fa-2x" id="closePopUp"></i>
        <div class="popUp__container">
            <div class="popUp__buttons">
                <a href="{%url 'logout'%}" class="popUp__button">Log Out</a>
                <a href="#" class="popUp__button" id="cancelPopUp">Cancel</a>
            </div>
        </div>
    </div>
{%endblock%}