{%extends 'photo_app/base.html'%}

{%block main_content%}

    <main class="profile-container">
        <section class="profile">
            <header class="profile__header">
                <div class="profile__avatar-container">
                    <img 
                        src="{{user.profile_pic_url}}"
                        class="profile__avatar"
                    />
                </div>
                <div class="profile__info">
                    <div class="profile__name">
                        <h1 class="profile__title">{{user.username}}</h1>
                        {% if request.session.user_id == user.id %}
                            <a href="{% url 'edit_profile' %}" class="profile__button u-fat-text">Edit profile</a>
                            <i class="fa fa-cog fa-2x" id="cog"></i>
                        {% else %}
                            {% if currentuser %}
                                {% if currentuser in user.followers.all %}
                                    <div class="people__column_a">
                                        <a data-user-id="{{user.id}}" class="follow-button unfollowbutton" href="#">Unfollow</a>
                                    </div>
                                {% else %}
                                    <div class="people__column_a">
                                        <a data-user-id="{{user.id}}" class="follow-button followbutton" href="#">Follow</a>
                                    </div>
                                {% endif %}
                            {%endif%}
                        {% endif %}
                    </div>
                    <ul class="profile__numbers">
                        <li class="profile__posts">
                            <span class="profile__number u-fat-text">{{posts|length}}</span> posts
                        </li>
                        <li class="profile__followers">
                            <a href="{% url 'followers' user.username %}" style="color: inherit;">
                                <span class="profile__number u-fat-text">{{user.followers.all|length}}</span> follower{{user.followers.all|pluralize:'s'}}
                            </a>
                        </li>
                        <li class="profile__following">
                            <a href="{% url 'followings' user.username %}" style="color: inherit;">
                                <span class="profile__number u-fat-text">{{user.followings.all|length}}</span> following
                            </a>
                        </li>
                    </ul>
                    <div class="profile__bio">
                        <span class="profile__full-name u-fat-text">{{user.display_name}}</span>
                        <p class="profile__full-bio">{{user.bio}}</p>
                        <a href="{{user.website}}" class="profile__link u-fat-text">{{user.website}}</a>
                    </div>
                </div>
            </header>

            {%if posts|length == 0%}
                <h1 style="font-size:larger; font-weight:bold; text-align:center">{{user.username}} have not uploaded any photos</h1>
                <br>
                <!-- <h1 style="text-align:center">Post your first photo from <a href="{%url 'index'%}">here</a></h1> -->
            {%endif%}

            <div class="profile__pictures">

                {%for post in posts%}
                    <a href="{% url 'detail' post.id %}" class="profile-picture">
                        <img
                            src="{{post.photo.url}}"
                            class="profile-picture__picture"
                        />
                        <div class="profile-picture__overlay">
                            <span class="profile-picture__number">
                                <i class="fa fa-heart"></i> {{post.liked_by.all|length}}
                            </span>
                            <span class="profile-picture__number">
                                <i class="fa fa-comment"></i> {{post.photo_comments.all|length}}
                            </span>
                        </div>
                    </a>
                {%endfor%}
                
            </div>
        </section>
    </main>
{%endblock%}

{%block post_footer%}
    <div class="popUp">
        <i class="fa fa-times fa-2x" id="closePopUp"></i>
        <div class="popUp__container">
            <div class="popUp__buttons">
                <a href="{%url 'logout'%}" class="popUp__button">Log Out</a>
                <a href="#" class="popUp__button" id="cancelPopUp">Cancel</a>
            </div>
        </div>
    </div>
{%endblock%}

{% block javascript %}
<script>
    $(document).ready(function(){
        $('.follow-button').on('click', function(){
            userid = $(this).attr('data-user-id');
            button = $(this)
            $.ajax({
                type: 'POST',
                url: `{% url 'ajax.follow' %}`,
                data: {
                    'userid': userid
                },
                success: function(response){
                    if(response.success){
                        switch(response.action){
                            case 'followed':
                                button.text('Unfollow')
                                break;
                            case 'unfollowed':
                                button.text('Follow')
                                break;
                        }
                        button.toggleClass('followbutton');
                        button.toggleClass('unfollowbutton');
                    }
                },
                error: function(response){
                    console.log(response)
                }
            })
        })
    })
</script>
{% endblock %}